<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
</head>

<body>

    <header>
        <h1>Welcome to Miss Barcinas' Calendar</h1>
    </header>

    <div class="wrapperc">
        <div class="calendar">
            <div class="month">
                <i class="fas fa-angle-left prev"></i>
                <div class="date">
                    <h1>hope</h1>
                    <p></p>
                </div>
                <i class="fas fa-angle-right next"></i>
            </div>
            <div class="weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
            </div>
            <div class="days"></div>
        </div>
    </div>
    <ul class="u">
        <li><a href="home.html">Home</a></li>
        <li><a href="Newsletter.html">Newsletter</a></li>
        
        <li><a href="Lessons.html">Lessons</a></li>
        <li><a href="Help.html">Helpful Links</a></li>
        <li><a href="Contact.html">Contact</a></li>
    </ul>
    <script src="js/script.js"></script>
</body></html>
