<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calendar</title>

   

    <link href="css/reset.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>



<body>
    <div class="wrapper">
        <header>
            <nav>
                <a href="Home.html"><img src="img/blue.jpg" alt="crayon"></a>
                <a href="Calendar.html"><img src="img/red.jpg" alt="crayon"></a>
                <a href="Newsletter.html"><img src="img/yellow.jpg" alt="crayon"></a>
                <a href="Lessons.html"><img src="img/orange.jpg" alt="crayon"></a>
                <a href="Help.html"><img src="img/purple.jpg" alt="crayon"></a>
                <a href="Contact.html"><img src="img/green.jpg" alt="crayon"></a>
            </nav>
            <h1>Miss Barcinas' Calendar</h1>
           
        </header>
        <main>
            <section class=calendar>
                <p>Week 1</p>
                <p><a href="lesson">Lesson 1</a></p>
                <p>Lesson 2</p>
                <p>Lesson 3</p>
                <p>Lesson 4</p>
                <p>Lesson 5</p>
                <p>Week 2</p>
                <p><a href="lesson">Lesson 1</a></p>
                <p>Lesson 2</p>
                <p>Lesson 3</p>
                <p>Lesson 4</p>
                <p>Lesson 5</p>
                <p>Week 3</p>
                <p><a href="lesson">Lesson 1</a></p>
                <p>Lesson 2</p>
                <p>Lesson 3</p>
                <p>Lesson 4</p>
                <p>Lesson 5</p>
                <p>Week 4</p>
                <p><a href="lesson">Lesson 1</a></p>
                <p>Lesson 2</p>
                <p>Lesson 3</p>
                <p>Lesson 4</p>
                <p>Lesson 5</p>
                
            </section>
            <section class="firstc">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="class.htm">class Newsletter</a></li>
                    
                    <li><a href="Lessons.html">Lessons</a></li>
                    <li><a href="Help.html">Helpful Links</a></li>
                    <li><a href="Contact.html">Contact</a></li>
                </ul>
            </section>
            
        </main>
        </div>
        <footer>
            <img src="img/crayons.png" alt="Crayons">
        </footer>
    

</body></html>
