<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miss Barcinas</title>

    <style>
        .Slide {
            display: none;
        }
    </style>

    <link href="css/reset.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>



<body>
    <div class="wrapper">
        <header>
            <nav>
                <a href="Home.html"><img src="img/blue.jpg" alt="crayon"></a>
                <a href="Calendar1.html"><img src="img/red.jpg" alt="crayon"></a>
                <a href="Newsletter.html"><img src="img/yellow.jpg" alt="crayon"></a>
                <a href="Lessons.html"><img src="img/orange.jpg" alt="crayon"></a>
                <a href="Help.html"><img src="img/purple.jpg" alt="crayon"></a>
                <a href="Contact.html"><img src="img/green.jpg" alt="crayon"></a>
            </nav>
            <h1>Welcome to Miss Barcinas' Class</h1>
            <h2>YOUR KINDERGARTEN HOMEPAGE</h2>
        </header>
        <main>

            <section class="first">
                <h3>Quick Links</h3>
                <h3>About this Site</h3>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="class.htm">class Newsletter</a></li>
                    <li><a href="Calendar.html">Calendar</a></li>
                    <li><a href="Lessons.html">Lessons</a></li>

                    <li><a href="Contact.html">Contact</a></li>
                </ul>
                <p>Here you'll find resources to help your child succeed in this class. Our class newsletter will be posted for you to find our class updates. There will be a calendar with upcoming events. Lesson plans will be outlined if your child is absent, or you'd like to learn along with us! Helpful links are there as a ressource for extra practice with the concepts we're learning. As always, contact me via email with any questions, concerns, or ideas, and I will get back to you as quickly as possible.</p>
            </section>
        </main>
    </div>
    <footer>
        <img src="img/crayons.png" alt="Crayons">
    </footer>



</body></html>
