<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miss Barcinas</title>

    <style>
        .Slide {
            display: none;
        }
    </style>

    <link href="css/reset.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>



<body>
    <div class="wrapper">
        <header>
            <nav>
                <a href="Home.html"><img src="img/blue.jpg" alt="crayon"></a>
                <a href="Calendar1.html"><img src="img/red.jpg" alt="crayon"></a>
                <a href="Newsletter.html"><img src="img/yellow.jpg" alt="crayon"></a>
                <a href="Lessons.html"><img src="img/orange.jpg" alt="crayon"></a>
                <a href="Help.html"><img src="img/purple.jpg" alt="crayon"></a>
                <a href="Contact.html"><img src="img/green.jpg" alt="crayon"></a>
            </nav>
            <h1>Class Newsletter</h1>
            <h2>Jan 11, 2021</h2>
        </header>
        <main>
            <section class="n">
                <p>Dear Parents & Guardians,</p>
                <img src="img/blue.jpg" alt="plane">
                <p>We are excited to start our new unit: Transportation! We will be learning about all kinds of things that go on land, water, and in the air. Here are some fun activities in each subject that your student can look forward to:</p>
                <ul>
                    <li>Language Arts:
                        Name trains
                        Parking lot high frequency word match</li>
                    <li>Math:
                        Use race cars to trace racetracks by shape
                        Graphing cars by color</li>
                    <li>Science:
                        Race car ramps
                        Pool noodle boats
                    </li>
                    <li>Social Studies:
                        Dream vehicle drawings</li>
                    <li>
                        Transportation career costume play</li>
                </ul>
                <p>YOU’RE INVITED to our class January 22 @ 2pm for our car show! We need your help with a donation of one large cardboard box (big enough to fit around their waist - they will be wearing their car) for your student. Come see what your student and their classmates imagine and create! As always, email or call if you’ve got any questions, concerns, or ideas!
                </p>
                <p>Thanks for all you do,
                   Miss Barcinas
                   school@email.com
                   435-not-mine</p>
                <img src="img/blue.jpg" alt="Train">
            </section>
        </main>
    </div>
    <footer>
        <img src="img/crayons.png" alt="Crayons">
    </footer>

</body></html>
